@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import "tailwindcss";

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;

}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);

  }

  50% {
    transform: translateX(10px);

  }

  75% {
    transform: translateX(-10px);

  }

  100% {
    transform: translateX(0);

  }
}

.animate-shake {
  animation: shake 1s ease-in-out infinite;

}